{
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-unused-vars": "warn"
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ]
}
